@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html {
    font-size: 62.5%;
}
html, body {
    height: 100vh;
    width: 100vw;
}
#root {
    height: 100%;
    width: 100%;
}

.nav-collapse {
    display: none;
}

.open {
    display: flex;
}
