@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .home {
    background-size: 100vw 100vh;
  }

@font-face {
    font-family: "header-font";
    src: url("/public/courgette.woff");
}
@font-face {
    font-family: "Poppins";
    src: url("/public/Poppins-Regular.woff");
}
@font-face {
    font-family: "Poppins-M";
    src: url("/public/Poppins-Medium.woff");
}
@font-face {
    font-family: "Poppins-light";
    src: url("/public/Poppins-ExtraLight.woff");
}
html {
    background-color: #FAF9F6;
}
.small {
    font-family: poppins;
}
.medium {
    font-family: poppins-M;
}
.light {
    font-family: poppins-light;
}
.curly {
    font-family: header-font;
}

@media (min-width:1024px) {
    h2, h3 {
        font-family: poppins;
    }
}
p {
    font-family: Poppins;
}
html {
    font-size: 62.5%;
}
html, body {
    height: 100vh;
    width: 100vw;
}
#root {
    height: 100%;
    width: 100%;
}


.open {
    display: flex;
    width: 100%;
    right: 0;
    animation: navOpen .1s ease-in-out;
}
.close {
    right: 100%;
    animation: navClose .1s ease-out;
    height: 0;
}
.dropNav {
    display: flex;
    animation: dropNav .1s ease-in;
    height: fit;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #84D3F3;
}
.closeNav {
    display: flex;
    height: 0;
    overflow: hidden;
    animation: closeNav .1s ease-in;
}

.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .full-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .full-screen-image {
    max-height: 40vh;
    max-width: 95%;
     /* Adjust the value as needed */
  }
  @media (min-width: 1024px) {
    .full-screen-image {
        max-width: 50%;
        max-height: 75vh;
    }
  }

  .plusminus {
	position: relative;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.plusminus.active:before {
	transform: translateY(-50%) rotate(-90deg);
	opacity: 0;
}

.plusminus.active:after {
	transform: translateY(-50%) rotate(0);
}

.plusminus:before,
.plusminus:after {
	content: "";
	display: block;
	background-color: #333;
	position: absolute;
	top: 50%;
	left: 0;
	transition: .35s;
	width: 100%;
	height: 2px;
}

.plusminus:before {
	transform: translateY(-50%);
}

.plusminus:after {
	transform: translateY(-50%) rotate(90deg);
}

  @keyframes navOpen {
    0% {
        right: 100%;
        height: 0;
        opacity: 0;
    }
    25% {
        right: 75%;
        height: 0;
        opacity: 0;
    }
    50% {
        right: 50%;
        height: 0;
        opacity: 1;
    }
    75% {
        right: 25%;
        height: 0;
        opacity: 1;
    }
    100% {
        right: 0%;
        height: 100%;
        opacity: 1;
    }
  }
  @keyframes navClose {
    0% {
        height: 85vh;
        right: 0%;
        opacity: 1;
    }
    25% {
        height: 85vh;
        right: 25%;
        opacity: 1;
    }
    50% {
        height: 85vh;
        right: 50%;
        opacity: 0;
    }
    75% {
        height: 85vh;
        right: 75%;
        opacity: 0;
    }
    100% {
        height: 0;
        right: 100%;
        opacity: 0;
    }
  }
  @keyframes dropNav {
    0% {
        height: 3rem;
    }
    25% {
        height: 6rem;
    }
    50% {
        height: 9rem;
    }
    75% {
        height: 12rem;
    }
    100% {
        height: 15rem;
    }
  }
  @keyframes closeNav {
    0% {
        height: 15rem;
    }
    25% {
        height: 12rem;
    }
    50% {
        height: 9rem;
    }
    75% {
        height: 6rem;
    }
    100% {
        height: 3rem;
    }
  }

  @keyframes openAnimation {
    from {
      d: path("M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7");
    }
    to {
      d: path("M3,3L5,5L7,3M5,5L5,5M3,7L5,5L7,7");
    }
  }
  
  @keyframes closeAnimation {
    from {
      d: path("M3,3L5,5L7,3M5,5L5,5M3,7L5,5L7,7");
    }
    to {
      d: path("M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7");
    }
  }

  
  
  .hb.animate-open .path-open {
    animation: openAnimation 0.3s forwards;
  }
  
  .hb.animate-close .path-close {
    animation: closeAnimation 0.3s forwards;
  }

  
  